.terms {
  padding: 80px 24px;
  background: #f8f9fa;
  color: #111;

  &__container {
    max-width: 900px;
    margin: auto;
  }

  &__title {
    font-size: 45px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 8px;
    text-align: center;
  }

  &__updated {
    font-size: 13px;
    color: #666;
    text-align: center;
    margin-bottom: 50px;
  }
}

.terms__content {

  margin: 10px 0;
}

.terms__section {

  p {
    font-size: 22px;
    line-height: 1.7;
    color: #333;
    text-align: justify;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .terms {
    padding: 60px 20px;
  }

  .terms__title {
    font-size: 26px;
  }

  .terms__section h2 {
    font-size: 18px;
  }

  .terms__section p,
  .terms__section li {
    font-size: 14px;
  }
}
