/* ===== VIDEO SECTION ===== */
.about-video {
  display: flex;
  justify-content: center;
  padding: 80px 24px;
  background: #f7f7f7;
}

.video-wrapper {
  margin-top:50px ;
  width: 100%;
  max-width: 1100px;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

/* ===== CONTENT ===== */
.about-content {
  padding: 100px 32px;
  max-width: 1400px;
  margin: auto;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  margin-bottom: 80px;

  h2 {
    font-size: 26px;
    margin-bottom: 16px;
    color: #111;
  }

  p {
    font-size: 17px;
    line-height: 1.7;
    color: #555;
  }
}

/* ===== IMAGE ===== */
.about-image {
  width: 100%;
  overflow: hidden;
  border-radius: 18px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .about-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .about-content {
    padding: 64px 24px;
  }
}
