<!-- HERO -->
<section class="hero-slider">

  <article
    class="hero-slide"
    *ngFor="let bg of slideImages; let i = index"
    [class.active]="i === current()"
    [style.backgroundImage]="'url(' + bg + ')'"
  ></article>

  <button class="nav prev" (click)="prev()">‹</button>
  <button class="nav next" (click)="next()">›</button>

  <div class="dots">
    <button
      *ngFor="let s of slideImages; let i = index"
      [class.active]="i === current()"
      (click)="goTo(i)"
    ></button>
  </div>

</section>



<!-- CARDS -->
<section class="cards-section">
  <div class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <img [src]="card.icon" alt="" />
      <h3>{{ card.title }}</h3>
      <p>{{ card.text }}</p>
    </div>
  </div>
</section>

<section class="corporate-text">
  <div class="container5">
    <p>
        We are a North American company with a factory in Mexico. 
        Learn about all our ACP Alutec products with PVDF paint 
        that provides a colorful life of up to 20 years
    </p>
  </div>
</section>


<!-- ABOUT PREVIEW -->
<section class="about-preview">
    <div class="container">
        <a href="/colors" class="btn-products">Our Products</a>
        <h2>Aluminium Panels Redifined #WhatsYourColor</h2>
        <p>
            Follow us on Instagram for inspiration.
        </p> <br>
         <div class="social-buttons">
            <a href="https://www.instagram.com/alutecacp/" target="_blank" class="btn-instagram">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true">
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.5 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
               </svg>
               <span>Follow on Instagram</span>
         </a>
          <a
               href="https://www.linkedin.com/company/alutec/"
               target="_blank"
               rel="noopener"
               class="btn-linkedin"
               >
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true">
                  <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 01107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
               </svg>
               <span>Follow on LinkedIn</span>
            </a>
         </div>
    </div>
</section>

<!-- historias -->
<section class="social-updates-section">
  <div class="container">
    <h2>Our Social Networks</h2>
    <p>Latest stories and publications</p>

    <div class="social-grid">
      <!-- Instagram Stories -->
      <div class="social-card instagram-card">
        <h3>Instagram Stories</h3>
        <!-- Aquí va SOLO el div (el script ya se carga arriba) -->
        <div class="sk-ww-instagram-hashtag-feed" data-embed-id="25646301"></div>
      </div>

      <!-- LinkedIn Posts -->
      <div class="social-card linkedin-card">
        <h3>LinkedIn post</h3>
        <div class="sk-ww-linkedin-profile-post" data-embed-id="25646248"></div>
      </div>
    </div>
  </div>
  
</section>


<!-- NEWS -->
<section class="related-news" *ngIf="related$ | async as related">

  <div class="container">
    <h2 class="section-title">Most recent news</h2>

  <div class="related-grid">

    <article
      *ngFor="let item of related"
      class="related-card"
    >
      <a [routerLink]="['/news', item.slug]">

        <!-- Imagen -->
        <div class="image">
          <img [src]="item.image[0]" [alt]="item.title" />
          <span class="tag">{{ item.category }}</span>
        </div>

        <!-- Contenido -->
        <div class="content">
          <span class="meta">
            {{ item.date | date }}
          </span>
          <h3>{{ item.title }}</h3>
          <p>{{ item.excerpt }}</p>
        </div>

      </a>
    </article>

  </div>
  </div>

</section>

