/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Inter', system-ui, -apple-system, sans-serif;

  margin: 0;

}

.tp-slider-active-4 {
  background: #6b6c6d !important; // o el color que quieras
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  pointer-events: auto;
}

/* cuando haces scroll */
.site-header--scrolled {
  position: fixed;
}

.site-header:not(.site-header--scrolled) .navbar {
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.25);

  .navbar__menu a { color: #fff; }
  .hamburger span { background: #fff; }
}

.site-header--scrolled .navbar {
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(14px);
  box-shadow: 0 6px 24px rgba(0,0,0,0.08);

  .navbar__menu a { color: #1a1a1a; }
  .hamburger span { background: #000; }
}

/* ===== LEFT MINI MENU ===== */

.tp-slider-nav-wrapper {
  transform: translateY(120px);
}


.tp-slider-nav-item {
    margin-bottom: 18px;
}

.animate-on-scroll {
  opacity: 1; /* visible por defecto */
  transform: none;
}

.animate-on-scroll.in-view {
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




