/* You can add global styles to this file, and also import other style files */
html, body{
    font-family: 'Inter', system-ui, -apple-system, sans-serif;

    background:
    linear-gradient(
      135deg,
      rgba(0,0,0,0.015) 0%,
      rgba(0,0,0,0.07) 40%,
      rgba(0,0,0,0.015) 100%
    ),
    #ffffff;

}
/* ===============================
   NAVBAR MENU HOVER (GLOBAL FIX)
================================ */

.site-header .navbar__menu > li > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;               /* altura fija */
  padding: 0 14px;            /* padding horizontal solamente */

  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  border-radius: 8px;
  border: 1px solid transparent; /* SIEMPRE existe */

  box-sizing: border-box;

  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease;
}

/* HOVER */
.site-header .navbar__menu > li > a:hover {
  background-color: #7bc043;
  border-color: #7bc043;
  color: #fff;
}
.navbar__menu > li > a:hover {
  background-color: #7bc043;
  border-color: #7bc043;
  color: #fff;
  box-shadow: 0 6px 18px rgba(123, 192, 67, 0.35);
  transform: translateY(-1px);
}



.tp-slider-active-4 {
  background: #6b6c6d !important; // o el color que quieras
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  pointer-events: auto;
}

/* cuando haces scroll */
.site-header--scrolled {
  position: fixed;
}

.site-header:not(.site-header--scrolled) .navbar {
  background: rgba(15, 15, 15, 0.301); /* gris claro elegante */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  .navbar__menu a { color: #1a1a1a; }
  .hamburger span { background: #fff; }
}

.site-header--scrolled .navbar {
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(14px);
  box-shadow: 0 6px 24px rgba(0,0,0,0.08);

  .navbar__menu a { color: #1a1a1a; }
  .hamburger span { background: #000; }
}

/* ===== LEFT MINI MENU ===== */

.tp-slider-nav-wrapper {
  transform: translateY(120px);
}


.tp-slider-nav-item {
    margin-bottom: 18px;
}

.animate-on-scroll {
  opacity: 1; /* visible por defecto */
  transform: none;
}

.animate-on-scroll.in-view {
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




